:root {
  --vh: 1vh;
}

*{
  box-sizing: border-box;
  padding: 0;
margin: 0;
max-height:100vh;
overflow:hidden;

}
html {
  position: relative;
  height: calc(var(--vh) * 100);
  overflow:hidden;
  -webkit-overflow-scrolling: touch;
  max-height:calc(var(--vh) * 100);
  }

body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow: hidden;
     
      width:100vw;
      height: 100vh;
  height: calc(var(--vh) * 100);
  max-height:100vh;
      overflow:hidden;
      background-color: #f1f1f1;
      
  
    

    }

    .tabs-container {
      display: flex;
      flex-wrap:nowrap;
      overflow-x: auto;
      background-color: #f1f1f1;
      
      width: 73vw;

      /* For space for the buttons */
    }

    .tab {
      flex-shrink: 0;
      padding: 20px 40px;
      background-color: #fff;
      /* border: 1px solid #ccc; */
      cursor: pointer;
      font-size: 14px;
    }

    .tab.active {
      background-color: #e0e0e0;
    }

    .add-tab-button {
      padding: 10px 20px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .close-tab-button {
      padding: 20px 40px;
      background-color: #f44336;
      color: #fff;
      border: none;
      cursor: pointer;
      display: none;
    }

    .exit-button {
      padding: 20px 40px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    .top-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height:59px;
    }
    .tab-content {
      /* display: flex; */
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
 
      height: calc(100vh - 59px);
      height: calc(var(--vh) * 100 - 59px);

      width:100vw;
      overflow:hidden;
    }

    .tab-content.active {
      display: block;
    }

    .buttons-container {
     
      display: flex;
      align-items: center;
      background-color: #f1f1f1;
      width: 27vw;
      justify-content: right;
    }



.input-beautify {
    margin-top:10px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    width: 315px;
    height: 35px;
    padding: 5px 25px;
    border-radius: 5px;
}

.input-beautify:focus{
  outline: none;
}

#homeContent{
    padding-top: 10%;
}
.view-button{
    height: 45px;
      background: linear-gradient(90deg, #44A2FF, #097DF1);
      border-radius: 10px;
      color: #fff;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 200px;margin-top: 20px;
}

.xterm{
  width:100%;
  height: 100%;
}
.xterm-scroll-area{
  /* height:100% !important; */
}
#exitButton{
  background-color:#3193f8;
  color:#fff;
  text-wrap: nowrap;
  display:flex;
  flex-wrap:nowrap;
  white-space: nowrap;

}
#closeTabButton{
  background-color:#3193f8;
  color:#fff;
  text-wrap: nowrap;

  white-space: nowrap;
}

.tab-src-name{
  display: flex;
  align-items: center;
  justify-content: left;

  background-color: #f1f1f1;
  width: 100vw;
  height: 50px;
  padding: 0px 20px;
}

.icon-desk{
  width: 19px;
  height: 16px;
  margin-right: 30px;
}

.src-name{
  margin-bottom: 5px;
}

.xterm-content{
  width: 100vw;
  height: calc(100% - 50px ); 
  height: calc(var(--vh) * 100 - 109px);
  white-space: pre-wrap;
  color:#fff;
  background-color:#000;
  line-height: 20px;
  overflow:auto;
  font-size: 12px;
  font-family: monospace;
  overflow:auto;
}
